@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

:root{
    --cor-1: #6c6880;
    --cor-2: #2e2e33;
    --cor-font-1: #fff; 
    --cor-font-2: #f3e0ef; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor-font-1);
    font-family: 'Comfortaa';
    font-weight: 500;
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;   
    background-color: var(--cor-2);
}

#quote-box{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-1);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px #80808060;
}

#text{
    font-size: 32px;
    margin-bottom: 8px;
    color: var(--cor-font-2);
    position: relative;
}

#text::first-letter{
    font-size: 40px;
}

#text::before{
    content: '\275D';
    font-size: 120px;
    position: absolute;
    top: -96px;
    left: -48px;
}

#author{
    align-self: flex-end;
    margin-bottom: 32px;
    color: var(--cor-font-2)
}

#new-quote{
    margin-bottom: 8px;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--cor-font-1);
    color: #2e2e33;
    padding: 5px 10px;
    border-radius: 5px;
}

#tweet-quote{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .5s;
}

#tweet-quote *{
    color: #2e2e33;
    margin-left: 4px;
}

#tweet-quote::before{
    width: 24px;
    height: 24px;
    background-color: var(--cor-font-1);
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    margin: auto;
    z-index: -1;
    border-radius: 5px;
}

#tweet-quote::after{
    width: 1px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--cor-font-1);
    content: '';
    position: absolute;
    inset: 0;
    left: 0px;
    margin: auto;
    padding-right: 8px;
    z-index: -1;
    border-radius: 5px;
    transition: .5s;
}

#tweet-quote:hover{
    transform: translateX(-26px);
}

#tweet-quote:hover::after{
    width: 72px;
}

#tweet-quote span{
    position: absolute;
    inset: 0;
    margin: auto;
    left: 24px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    color: #2e2e33;
}

#tweet-quote:hover span{
    opacity: 1;
    visibility: visible;
}